* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    background: #222;
    color: white;
    text-align: center;
    padding: 40px 0;
}

section {
    padding: 40px 20px;
    text-align: center;
}

.about {
    background: #f4f4f4;
}

.skills ul {
    list-style: none;
}

.skills li {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    background: #222;
    color: white;
    border-radius: 5px;
}

.project-box {
    background: #f4f4f4;
    padding: 20px;
    margin: 20px auto;
    width: 60%;
    border-radius: 8px;
}

.contact {
    background: #222;
    color: white;
}

footer {
    background: black;
    color: white;
    padding: 15px;
    text-align: center;
}

/* Responsive */
@media(max-width: 768px) {
    .project-box {
        width: 90%;
    }

    .skills li {
        display: block;
        margin: 10px auto;
    }
}
